:root {
  --kb-height: 360px;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: black;
}

svg {
  height: var(--kb-height);
}

rect.white-key {
  width: 69px;
  height: var(--kb-height);
  fill: lightgray;
  stroke: black;
}

rect.black-key {
  width: 39px;
  height: calc(var(--kb-height) * 2 / 3);
  fill: black;
}

rect:hover {
  fill: gray;
}

rect:active {
  fill: blue;
}

textarea#songText {
  background: darkgray;
}
